<a class="skip-link" href="#main-content">Aller au contenu</a>
<nav aria-label="Navigation principale">
  <a href="/" class="logo-link">
    <img class="logo" src="/images/image-1.png" alt="Logo Viluma">
  </a>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/equipe.html">L'équipe</a></li>
    <li><a href="/soins.html">Nos soins</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/index.html#acces">Contact</a></li>
  </ul>
  <a class="btn-rdv" href="https://www.doctolib.fr/cabinet-paramedical/boulogne-billancourt/viluma">RDV</a>
</nav>
